<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor type="BasLijten.Profiler.Pipelines.HttpRequest.BeginDiagnostics, BasLijten.Profiler" patch:instead="*[@type='Sitecore.Pipelines.HttpRequest.BeginDiagnostics, Sitecore.Kernel']"/>
      </httpRequestBegin>
      <httpRequestEnd>
        <processor type="BasLijten.Profiler.Pipelines.HttpRequest.EndDiagnostics, BasLijten.Profiler" patch:instead="*[@type='Sitecore.Pipelines.HttpRequest.EndDiagnostics, Sitecore.Kernel']" />
      </httpRequestEnd>
    </pipelines>
  </sitecore>
</configuration>